.mensajePropio,
.mensajeRecibido {
  max-width: 70%;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
}

.mensajePropio {
  margin-left: auto;
  background: #d7f8c6;
  text-align: right;
}

.mensajeRecibido {
  margin-right: auto;
  background: #eeeeee;
}

.mensajePropio p,
.mensajeRecibido p {
  margin: 4px 0;
}